<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <!--
    <servlet>
        <servlet-name>join-servlet</servlet-name>
        <servlet-class>servlets.JoinServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>join-servlet</servlet-name>
        <url-pattern>/join</url-pattern>
    </servlet-mapping>
    -->

    <servlet>
        <servlet-name>life-cycle-servlet</servlet-name>
        <servlet-class>servlets.LifeCycleServlet</servlet-class>
        <init-param>
            <param-name>setting1</param-name>
            <param-value>value1</param-value>
        </init-param>
        <init-param>
            <param-name>setting2</param-name>
            <param-value>value2</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
       <servlet-name>life-cycle-servlet</servlet-name>
        <url-pattern>/life</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>filter1</filter-name>
        <filter-class>filters.Filter1</filter-class>
        <init-param>
            <param-name>filtersetting</param-name>
            <param-value>value</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>filter1</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>filter2</filter-name>
        <filter-class>filters.Filter2</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filter2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>