<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <form method="POST" th:action="@{/member/join}" th:object="${joinForm}">
            <div th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
            <dl>
                <dt>아이디</dt>
                <dd>
                    <input type="text" name="userId" th:field="*{userId}">
                    <div th:each="err : ${#fields.errors('userId')}" th:text="${err}"></div>
                </dd>
            </dl>
            <dl>
                <dt>비밀번호</dt>
                <dd>
                    <input type="password" name="userPw" th:field="*{userPw}">
                    <div th:each="err : ${#fields.errors('userPw')}" th:text="${err}"></div>
                </dd>
            </dl>
            <dl>
                <dt>비밀번호확인</dt>
                <dd>
                    <input type="password" name="userPwRe" th:field="*{userPwRe}">
                    <div th:each="err : ${#fields.errors('userPwRe')}" th:text="${err}"></div>
                </dd>
            </dl>
            <dl>
                <dt>회원명</dt>
                <dd>
                    <input type="text" name="userNm" th:field="*{userNm}">
                    <div th:each="err : ${#fields.errors('userNm')}" th:text="${err}"></div>
                </dd>
            </dl>

        </form>
    </body>
</html>