<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
    <a th:href="@{/member/join}">회원가입</a>
    <a th:href="@{/member/info(userId=${member.userId},email=${member.email})}">회원정보</a>
    <br>
    <a th:href="@{/member/info/{id}(id=${member.userId})}">회원정보2</a>
    <br>
    <div th:text="${#messages.msg('login.message', member.userNm, member.userId)}"></div>

    <div th:text="${@cUtil.toUpper('abc')}"></div>
    <th:block th:object="${member}">
        <dl>
            <dt th:text="#{member.userNo}"></dt>
            <dd th:text="*{userNo}"></dd>
        </dl>
        <dl>
            <dt th:text="${#messages.msgOrNull('userId')}"></dt>
            <dd>
                [[*{userId}]]
            </dd>
        </dl>
        <dl>
            <dt th:text="#{member.userPw}"></dt>
            <dd th:text="*{userPw}"></dd>
        </dl>
        <dl>
            <dt th:text="#{member.userNm}"></dt>
            <dd th:text="*{userNm}"></dd>
        </dl>
        <dl>
            <dt th:text="#{member.email}"></dt>
            <dd th:text="*{email}"></dd>
        </dl>
        <dl>
            <dt th:text="#{member.mobile}"></dt>
            <dd th:text="*{mobile}"></dd>
        </dl>
        <dl>
            <dt th:text="#{member.regDt}"></dt>
            <dd th:text="*{#temporals.format(regDt, 'yyyy.MM.dd')}"></dd>
        </dl>
    </th:block>
    </body>
</html>