@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* 공통 스타일 */
* { font-family: 'Noto Sans KR', sans-serif; box-sizing: border-box; color: #212121; outline: none; }
html { font-size: 13px; } /* 1rem - 13px */
body { margin: 0; }

ul, ol { list-style: none; padding: 0; margin: 0; }
dl, dt, dd { padding: 0; margin: 0; }
a { text-decoration: none; }
img { border: 0; }

/* 상단 헤더 영역 S */
header { display: flex; align-items: center; justify-content: space-between; height: 66px; border-bottom: 1px solid #e6e6e6; padding: 0 15px; }
header .logo img { height: 34px; }
header > section i { font-size: 1.85rem; }
header > section.left a { margin-right: 5px; }
header > section.right a { margin-left: 5px; }

/* 상단 헤더 영역 E */
