@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* 공통 스타일 */
* { font-family: 'Noto Sans KR', sans-serif; box-sizing: border-box; color: #212121; outline: none; }
html { font-size: 13px; } /* 1rem - 13px */
body { margin: 0; }

ul, ol { list-style: none; padding: 0; margin: 0; }
dl, dt, dd { padding: 0; margin: 0; }
a { text-decoration: none; }
img { border: 0; }

/* 상단 헤더 영역 S */
header { display: flex; align-items: center; justify-content: space-between; height: 66px; border-bottom: 1px solid #e6e6e6; padding: 0 15px; }
header .logo img { height: 34px; }
header > section i { font-size: 1.85rem; }
header > section.left a { margin-right: 5px; }
header > section.right a { margin-left: 5px; }

/* 상단 헤더 영역 E */

/* 상단 메뉴 영역 */
nav { display: flex; height: 44px; }
nav > a { flex-grow: 1; width: 0; text-align: center; color: #494949; line-height: 44px; }

/* 메인 배너 */
main .main_bg img { width: 100%; display: block; }

/* 메인 가운데 메뉴 S */
main .mid_menus { display: flex; flex-wrap: wrap; border: 10px solid #ededed; border-left: 0; border-right: 0;}
main .mid_menus a { width: calc(100% / 3); text-align: center; height: 50px; line-height: 50px; font-weight: 500; font-size: 1.08rem; border-top: 1px solid #ededed; border-left: 1px solid #ededed; }

main .mid_menus a:nth-of-type(3n+1) { border-left: 0; }
main .mid_menus a:nth-of-type(1),
main .mid_menus a:nth-of-type(2),
main .mid_menus a:nth-of-type(3) { border-top: 0; }

/* 메인 가운데 메뉴 E */

/* 서브 배너 S */
main .sub_bg { display: flex; flex-wrap: wrap; margin-bottom: 20px; }
main .sub_bg a:nth-of-type(1) { width: 100%; }
main .sub_bg a:nth-of-type(2),
main .sub_bg a:nth-of-type(3) { width: 50%; }
main .sub_bg img { width: 100%; display: block; }
/* 서브 배너 E */

/* 상품 목록 S */
.products h3 { padding: 20px; line-height: 1; text-align: center; font-size: 1.538rem; }

/* 상품 목록 E */