<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<section th:object="${user}">
    <dl>
        <dt>회원번호</dt>
        <dd th:text="*{userNo}">기본 데이터</dd>
    </dl>
    <dl>
        <dt th:text="#{USERID}"></dt>
        <dd th:text="*{userId}"></dd>
    </dl>
    <dl>
        <dt>회원명</dt>
        <dd th:text="*{userNm}"></dd>
    </dl>
    <dl>
        <dt th:text="#{EMAIL}"></dt>
        <dd th:text="*{email}"></dd>
    </dl>
    <dl>
        <dt>가입일시</dt>
        <dd th:text="*{regDt}"></dd>
    </dl>
</section>
</html>